.page{
    padding:80px 0;
    display:flex;
    justify-content:center;

    opacity:0;
    transform:translateY(80px);
    transition:1s;
}

.page.show{
    opacity:1;
    transform:translateY(0);
}
